*{
    margin: 0;
    padding: 0;
}
.loader-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Layer_1{
    height: 100vh;
    
}

#moving-3{
    animation-name: jump;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
#moving-2,
#moving-1{
    animation-name: move;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(30px);
    }
}
@keyframes jump {
    0% {
        transform: translateY(0) translateX(0);
    }
    33% {
        transform: translateY(20px) translateX(0);
    }
    66%{
        transform: translateY(20px) translateX(-63px);
    }
    100%{
        transform: translateY(0) translateX(-63px);
    }
}